<!DOCTYPE html>
<html>
{% include 'header.html' %}

<body class="bg-light d-flex align-items-center" style="height: 100vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card shadow-sm p-4">
                    <h3 class="text-center mb-4" data-i18n="labels.login_title">Đăng nhập</h3>
                    <div id="error-msg" class="alert alert-danger d-none"></div>
                    <div class="mb-3">
                        <input type="text" id="user" class="form-control" placeholder="Tên đăng nhập">
                    </div>
                    <div class="mb-3">
                        <input type="password" id="pass" class="form-control" placeholder="Mật khẩu">
                    </div>
                    <button onclick="Auth.doLogin()" class="btn btn-primary w-100" data-i18n="buttons.login">Đăng
                        nhập</button>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</body>

</html>